body 
{
    text-align: center;
    font-family: "Arial";
    color: aliceblue;
    background: #66cccc;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 2px solid #043a3a;
    border-radius: 20px;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#cabecera
{
    color: midnightblue;
    background: rgb(27, 126, 139);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    border-radius: 7px;
}